<section class="hero">

  <div class="hero-content">
    <h1>Bem-vindo à sua nova aplicação</h1>

    <p>
      Um layout moderno para você estudar HTML e CSS.
      Ideal para projetos web modernos.
    </p>

    <button class="btn-main" (click)="goToCourses()">Começar agora</button>
  </div>

</section>


<section class="features">

  <h2>Funcionalidades</h2>

  <div class="cards">

    <div class="card">
      <h3>Performance</h3>
      <p>Aplicações rápidas e modernas utilizando boas práticas.</p>
    </div>

    <div class="card">
      <h3>Design Responsivo</h3>
      <p>Layouts adaptados para celular, tablet e desktop.</p>
    </div>

    <div class="card">
      <h3>Escalável</h3>
      <p>Arquitetura pensada para crescer junto com seu projeto.</p>
    </div>

  </div>

</section>